<%= render "info",user: @user %>
<%= render "books/form",book: @book %>

<h1>投稿一覧</h1>
<table>
  <tr>
    <th></th>
    <th>タイトル</th>
    <th>感想</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= image_tag book.user.get_profile_image(100,100) %></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tr>
  <% end %>
</table>
