<h1>編集画面</h1>
<%= form_with model: @book do |f| %>
<%= f.label :title,"名前" %><br>
<%= f.text_field :title,autofocus: true %><br>

<%= f.label :body,"感想" %><br>
<%= f.text_area :body %><br>
<%= f.submit "更新" %>
<% end %>
